<!DOCTYPE html>
<html>

  <head>
    <meta charset='UTF-8' />
    <title>My Movies - Add Movies</title>
  </head>

  <body>

    <h2>Add New Movie</h2>
    
    <form method="post" action="/create">

      <table>
        
        <tr>
          <td><label for="title">Title:</label></td>
          <td><input type="text" name="title"></td>
        </tr>
        
        <tr>
          <td><label for="director">Director:</label></td>
          <td><input type="text" name="director"></td>
        </tr>
        
        <tr>
          <td><label for="year">Year Published:</label></td>
          <td><input type="text" name="year"></td>
        </tr>
      
      </table>
    
      <br>
      <input type="submit"> 

    </form>
    
    <br>
    <a href="/">Back to Index</a>
    
  </body>

</html>